* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  padding-top: 10vh;
}

a,button,h1,h2,h3,h4 {
  color: rgb(41, 41, 41); 
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 8vh;
  padding: 0 20%;
  background-color: rgba(255,255,255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav,
a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.nav-links a,
.nav-links button {
  margin-left: 2rem;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

.buy-button {
  padding: 0.2rem 2rem;
  font-size: 0.6rem;
  background-color: rgb(58, 146, 248);
  color: white;
  border: none;
  border-radius: 1rem;
}

/* first page */
.first-page {
  min-height: 100vh;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-page-title {
  font-size: 1.5rem;
}

.first-page-subtitle {
  font-size: 3rem;
}

.first-page-text {
  z-index: 2;
  text-align: center;
  padding-bottom: 20rem;
}

.intro-video {
  position: absolute;
  bottom: -5rem;
}
body::-webkit-scrollbar {
  display: none;
}

.second-page {
  position: relative;
  min-height: 125vh;
  color: rgba(255,255,255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smoke-video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.second-page-text {
  padding: 5% 30%;
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  font-weight: bold;
}

/* Third page phone split  */
/* 
.third-page {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: black;
  font-size: 1.12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-text-container,
.retina-line {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.product-text-left {
  position: absolute;
  left: 33%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.product-text-right {
  position: absolute;
  right: 28%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.large-phone,
.small-phone {
  position: absolute;
  transform: translate(-50%,-50%);
}

.small-phone {
  right: 30%;
  bottom: -6.5%;
}

.large-phone {
  left: 45%;
}

.retina-line {
  position: absolute;
  bottom: 17%;
} */

.third-page {
  position: relative;
  padding: 0 20%;
}

.product-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.phone-size {
  font-size: 2rem;
  font-weight: bold;
}

.pro-size {
  text-align: left;
}

.max-size {
  text-align: right;
}

.product-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-phone {
  position: relative;
  transform: translateX(40%) scale(0.8);
  z-index: 1;
}

.small-phone {
  position: relative;
  z-index: 2;
  transform: translateX(-40%) scale(0.8) translateY(-2%);
}

.retina-line {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 0.8rem;
  font-weight: bold;
}

/* 4th page */

/* .purchase-left {
  width: 50vw;
}

.phone-gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin-left: 10rem;
  column-gap: 50rem;
}

.swatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 17rem;
  justify-content: center;
}

.fourth-page {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
}

.purchase-right {
  display: flex;
  margin-bottom: 5rem;
  overflow: hidden;
  background-color: black;
  width: 40vw;
  column-gap: 50rem;
}

.purchase-right img {
  height: 40rem;
  margin-left: 3rem;
} */

.fourth-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.purchase-left {
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  align-items: center;
  justify-content: center;
  flex: 1; 
  
  background: white;
}

.phone-gallery {
  display: flex;
  align-self: flex-start;


  height: 37rem;
}

.phone-gallery img {
  transform: scale(0.8);
}

.phone-gallery-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swatch-container {
  /* padding: 2rem; */
  text-align: center;
}

.swatch-container span {
  font-size: 0.8rem;
}

.swatches img {
 padding: 0.5rem 0.3rem;
 cursor: pointer;
}

/* purchase :right */
.purchase-right {
  flex: 1;
  position: relative;
  background-color: black;


  /* margin-top: 10rem; */
}

.purchase-right img {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 0%) scale(0.8);
   transform-origin: bottom;
}

.blue {
  z-index: 1;
}

/* fifth page */
.fifth-page {
  min-height: 100vh;
  /* position: relative; */
}

.product-video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.product-info-container {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0 10rem;
}

.product-info-container h3 {
  color: rgb(194, 194, 194);
}

.right-info, .left-info {
  width: 20%;
}

.left-info h3, .right-info h3 {
  padding: 3rem 0rem;
}

.left-info span, .right-info span {
  color: rgb(209, 209, 209); 
  font-size: 1.5rem;
}

/* sixth apgee */
/* .sixth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.photo-description {
  flex: 1;
  text-align: center;
}

.portrait-container {
  flex: 1;
}
.portrait-container img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.phone-video {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-video img,
.phone-video video {
  position: absolute;
}

.phone-video img {
  z-index: 2;
}

.phone-video video {
  border-radius: 2rem;
  padding-top: 1rem;
  background-color: black;
} */

.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

.photo-title {
  font-size: 2rem;
}

.photo-subtitle {
  font-size: 4rem;
}

.portrait {
  height: 70vh;
}

.phone-video {
  position: absolute;
  /* bottom: 0; */
  bottom: 35%;
  left: 48%;
  z-index: 2;
  /* transform: translate(-48%, -35%); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-video img, .phone-video video {
  position: absolute;
  transform: scale(0.8);
}

.phone-video video {
  border-radius: 2rem;
  padding-top: 1rem;
  background-color: black;
}

.phone-video img {
  z-index: 2;
}